<section>
  <div class="banner-section">
    <div class="container">
      <div class="banner-content">
        <div class="left-content">
          <img src="images/servicesIcon1.png" alt="Icon" class="icon" />
          <span class="banner-text passions-conflict-regular fs-1"
            >We are Leader in Agriculture</span
          >
        </div>
        <a href="#" class="download-btn livvic-font-family fw-medium"
          >Download App</a
        >
      </div>
    </div>
  </div>
  <div class="footer text-white">
    <div class="container">
      <div class="row pt-5">
        <div class="col-md-6">
          <h3 class="passions-conflict-regular">Agri Lens</h3>
          <p>
            Lorem ipsum dolor sit amet, adipiscing elit. In hac habitasse platea
            dictumst. Duis porta,quam ut finibus ultrices.
          </p>
          <hr />
          <div class="social-media">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-instagram"></i>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex justify-content-between">
            <div>
              <h6>Useful Links</h6>
              <ul class="navbar-nav">
                <a class="text-decoration-none text-white" href="#projects"
                  ><li class="text-decoration-none">New Projects</li></a
                >
                <a class="text-decoration-none text-white" href="#services"
                  ><li class="text-decoration-none">Our Services</li></a
                >
                <a class="text-decoration-none text-white" href="#testimonials"
                  ><li class="text-decoration-none">Testimonials</li></a
                >
                <a class="text-decoration-none text-white" href="#aboutUs"
                  ><li class="text-decoration-none">About Us</li></a
                >
                <a class="text-decoration-none text-white" href="#contactUs"
                  ><li class="text-decoration-none">Contact us</li></a
                >
              </ul>
            </div>
            <div class="w-50">
              <h6>Newsletter</h6>
              <p>
                Subscribe to our weekly Newsletter and receive updates via
                email.
              </p>
              <div class="mb-3 position-relative">
                <input
                  type="email"
                  class="rounded-pill p-3"
                  placeholder="Enter yor mail here..."
                />
                <button
                  class="position-absolute p-2 rounded-circle"
                  type="button"
                >
                  Go
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
</section>
