<section>
  <div class="banner-section">
    <div class="container">
      <div class="banner-content">
        <div class="left-content">
          <img src="images/servicesIcon1.png" alt="Icon" class="icon" />
          <span class="banner-text passions-conflict-regular fs-1"
            >We are Leader in Agriculture</span
          >
        </div>
        <a href="#" class="download-btn livvic-font-family fw-medium"
          >Download App</a
        >
      </div>
    </div>
  </div>
  <div class="footer text-white">
    <div class="container">
      <div class="row pt-5">
        <div class="col-md-6">
          <h3 class="passions-conflict-regular">Agri Lens</h3>
          <p>
            Lorem ipsum dolor sit amet, adipiscing elit. In hac habitasse platea
            dictumst. Duis porta,quam ut finibus ultrices.
          </p>
          <hr class="mt-4" />
          <div class="social-media d-flex mt-4">
            <a
              href="https://www.facebook.com/profile.php?id=61573163313002"
              target="_blank"
              ><i class="fa-brands fa-facebook-f mx-3"></i
            ></a>
            <a
              href="https://www.linkedin.com/company/agri-lens-industry/about/"
              target="_blank"
              ><i class="fa-brands fa-linkedin-in mx-3"></i
            ></a>
            <a href="" target="_blank"
              ><i class="fa-brands fa-youtube mx-3"></i
            ></a>
            <a href="https://www.instagram.com/agri__lens" target="_blank"
              ><i class="fa-brands fa-instagram mx-3"></i
            ></a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 my-5 my-md-0">
              <h6 class="mb-3 fs-3">Useful Links</h6>
              <ul class="navbar-nav">
                <a class="text-decoration-none text-white my-2" href="#projects"
                  ><li class="text-decoration-none">New Projects</li></a
                >
                <a class="text-decoration-none text-white my-2" href="#services"
                  ><li class="text-decoration-none">Our Services</li></a
                >
                <a
                  class="text-decoration-none text-white my-2"
                  href="#testimonials"
                  ><li class="text-decoration-none">Testimonials</li></a
                >
                <a class="text-decoration-none text-white my-2" href="#aboutUs"
                  ><li class="text-decoration-none">About Us</li></a
                >
                <a
                  class="text-decoration-none text-white my-2"
                  href="#contactUs"
                  ><li class="text-decoration-none">Contact us</li></a
                >
              </ul>
            </div>
            <div class="col-md-6">
              <h6 class="fs-3">Newsletter</h6>
              <p class="my-4">
                Subscribe to our weekly Newsletter and receive updates via
                email.
              </p>
              <div class="mb-3 position-relative">
                <input
                  type="email"
                  class="rounded-pill p-3"
                  placeholder="Enter yor mail here..."
                />
                <button
                  class="position-absolute p-2 rounded-circle"
                  type="button"
                >
                  Go
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="end-hr mb-0 w-100" />
    <div class="container d-flex justify-content-between pt-4 pb-3">
      <p>Copyright © Agri Lens. All Right Reserved.</p>
      <div>
        <span class="mx-4">Terms & Conditions </span>
        <span> Privacy Policy</span>
      </div>
    </div>
  </div>
</section>
