<section id="contactUs" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 px-5 text-white">
        <div>
          <h5>CONTACT NOW</h5>
          <h2 class="mt-4 mb-5 fs-1 fw-bold livvic-font-family">
            GET IN TOUCH NOW
          </h2>
        </div>
        <p>
          Lorem ipsum dolor sit amet, adipiscing elit. In hac habitasse platea
          dictumst. Duis porta,quam ut finibus ultrices.
        </p>
        <div>
          <h6 class="text-uppercase">Phone</h6>
          <p>01205207376</p>
        </div>
        <div>
          <h6 class="text-uppercase">Email</h6>
          <p>acc.motharwat&#64;gmail.com</p>
        </div>
        <div>
          <h6 class="text-uppercase">Address</h6>
          <p>Mansoura</p>
        </div>
      </div>
      <div class="col-md-6 px-5">
        <form class="input-group input-group-sm mb-3">
          <input
            type="text"
            class="w-100 mb-4 text-white rounded-2 p-3"
            placeholder="Your Name"
            required
          />
          <input
            type="text"
            class="w-100 mb-4 text-white rounded-2 p-3"
            placeholder="Your Number"
            required
          />
          <input
            type="email"
            class="w-100 mb-4 text-white rounded-2 p-3"
            placeholder="Your Email"
            required
          />
          <textarea
            class="w-100 mb-4 text-white rounded-2 p-3"
            placeholder="Your Message"
            required
          ></textarea>
          <button
            class="btn btn-warning text-uppercase rounded-4 px-5 py-3 livvic-font-family"
          >
            Send Message
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
