<div class="body position-relative pb-5" id="aboutUs">
  <div class="d-flex justify-content-between container inline-body">
    <div class="row">
      <div
        class="col-md-3 position-relative mb-5 p-0 me-md-5 ms-md-5 m-0 imgBox px-3"
      >
        <!-- <div class="overlay rounded-4"></div> -->
        <img
          src="images/aboutImg.jpeg"
          class="w-100 rounded-3"
          height=""
          alt=""
        />
        <div class="before-div row d-flex align-items-center">
          <div class="col-md-4 col-sm-6 icons ps-4">
            <i class="fa-solid fa-sack-dollar fs-3"></i>
            <i class="fa-solid fa-seedling fs-3"></i>
          </div>
          <!-- <div class="center-line"></div> -->
          <div class="col-md-8 col-sm-6 ps-5 statistics text-white">
            <h5 class="mistral-font m-0">86,700</h5>
            <p class="line-height-2">Successfully Project Completed</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-white about-description pt-4">
        <h6 class="">OUR INTRODUCTION</h6>
        <h2 class="livvic-font-family">Digital Agriculture</h2>
        <h5 class="livvic-font-family pt-5 pb-3">
          We’re Leader in Agriculture
        </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat
          mauris non purus aliquam ornare. Suspendisse vel rutrum tellus.
          Suspendisse in diam eu justo ultricies viverra 
        </p>
        <ul class="list-group-item livvic-font-family mt-5">
          <li class="list-group-item p-2">
            <i class="fa-solid fa-circle-check pe-3"></i> Lorem ipsum dolor sit
            amet
          </li>
          <li class="list-group-item p-2">
            <i class="fa-solid fa-circle-check pe-3"></i> Sed placerat mauris
            non purus aliquam
          </li>
          <li class="list-group-item p-2">
            <i class="fa-solid fa-circle-check pe-3"></i> Nullam pretium
            dignissim turpis, non porttitor
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
