<div class="body text-center text-white" id="outProducts">
  <div class="container">
    <h6 class="century-gothic-font text-uppercase title">
      Popular Foods And Vegetables
    </h6>
    <h2 class="livvic-font-family mb-5 position-relative">Focus On & Future</h2>
    <div class="boxes row justify-content-center">
      <div class="px-3 py-5 col-lg-2 col-5">
        <div class="box p-3">
          <img src="/images/apple.png" class="w-50" alt="" />
          <h6 class="icon-title">Apple</h6>
        </div>
      </div>
      <div class="px-3 py-5 col-lg-2 col-5">
        <div class="box p-3">
          <img src="images/blueberry.png" class="w-50" alt="" />
          <h6 class="icon-title">Blueberry</h6>
        </div>
      </div>
      <div class="px-3 py-5 col-lg-2 col-5">
        <div class="box p-3 strawberry">
          <img src="images/strawberry.png" class="w-50" alt="" />
          <h6 class="icon-title">Strawberry</h6>
        </div>
      </div>
      <div class="px-3 py-5 col-lg-2 col-5">
        <div class="box p-3">
          <img src="images/cabbage.png" class="w-50" alt="" />
          <h6 class="icon-title">Cabbage</h6>
        </div>
      </div>
      <div class="px-3 py-5 col-lg-2 col-5">
        <div class="box p-3">
          <img src="images/carrot.png" class="w-50" alt="" />
          <h6 class="icon-title">carrot</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="video-body position-relative">
  <div class="overlay"></div>

  <div class="w-33 d-flex align-items-center position-absolute parag">
    <p class="fs-1 fw-bold text-white position-relative">
      Agriculture Matters to the Future of Egypt
    </p>
  </div>

  <div
    class="d-flex justify-content-around align-items-center video-inline-body position-relative"
  >
    <div class="p-4 border rounded-pill">
      <div class="bg-white p-4 rounded-pill">
        <i
          class="fa-solid fa-play d-flex justify-content-center align-items-center"
        ></i>
      </div>
    </div>
  </div>
</div>
