<section
  class="pt-5 px-5 projects-section text-center px-7 mx-auto"
  id="projects"
>
  <div class="container pt-5">
    <p class="subtitle">RECENTLY COMPLETED WORK</p>
    <h2 class="title mb-5">Explore Our <span>Projects</span></h2>
  </div>

  <owl-carousel-o [options]="customOptions" class="carousel-wrapper mt-5">
    <ng-template carouselSlide class="mx-5">
      <div class="card border-1 shadow shadow-lg border-warning">
        <div>
          <img src="images/project1.jpg" alt="Project Image" />
          <div class="overlay"></div>
          <div class="card-content d-flex justify-content-around">
            <div>
              <p class="category">Digital way of agriculture</p>
              <h5 class="fw-semibold">Agriculture</h5>
            </div>
            <i class="fa-solid fa-arrow-right arrow position-absolute"></i>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide class="mx-5">
      <div class="card border-1 shadow shadow-lg border-warning">
        <div>
          <img src="images/project2.jpg" alt="Project Image" />
          <div class="overlay"></div>
          <div class="card-content d-flex justify-content-around">
            <div>
              <p class="category">Digital way of agriculture</p>
              <h5 class="fw-semibold">Agriculture</h5>
            </div>
            <i class="fa-solid fa-arrow-right arrow position-absolute"></i>
          </div>
        </div>
      </div> </ng-template
    ><ng-template carouselSlide class="mx-5">
      <div class="card border-1 shadow shadow-lg border-warning">
        <div>
          <img src="images/project3.jpg" alt="Project Image" />
          <div class="overlay"></div>
          <div class="card-content d-flex justify-content-around">
            <div>
              <p class="category">Digital way of agriculture</p>
              <h5 class="fw-semibold">Agriculture</h5>
            </div>
            <i class="fa-solid fa-arrow-right arrow position-absolute"></i>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide class="mx-5">
      <div class="card border-1 shadow shadow-lg border-warning">
        <div>
          <img src="images/project1.jpg" alt="Project Image" />
          <div class="overlay"></div>
          <div class="card-content d-flex justify-content-around">
            <div>
              <p class="category">Digital way of agriculture</p>
              <h5 class="fw-semibold">Agriculture</h5>
            </div>
            <i class="fa-solid fa-arrow-right arrow position-absolute"></i>
          </div>
        </div>
      </div> </ng-template
    ><ng-template carouselSlide class="mx-5">
      <div class="card border-1 shadow shadow-lg border-warning">
        <div>
          <img src="images/project2.jpg" alt="Project Image" />
          <div class="overlay"></div>
          <div class="card-content d-flex justify-content-around">
            <div>
              <p class="category">Digital way of agriculture</p>
              <h5 class="fw-semibold">Agriculture</h5>
            </div>
            <i class="fa-solid fa-arrow-right arrow position-absolute"></i>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>

  <!-- =============================================================================== -->
</section>
