<section class="py-5" id="news">
  <div class="container pb-5">
    <div class="text-center century-gothic-font text-white py-5">
      <h6 class="text-uppercase">FROM THE BLOG</h6>
      <h2 class="text-uppercase fw-bold livvic-font-family">News & Articles</h2>
    </div>
    <div class="row px-3">
      <div class="col-md-4 box mb-5 mb-md-0">
        <div class="rounded-top-4 overflow-hidden">
          <div class="position-relative">
            <div class="overlay position-absolute"></div>
            <img src="/images/news1.jpg" class="w-100" alt="news" />
            <span class="badgee text-black livvic-font-family position-absolute"
              >3 Sep, 2023</span
            >
          </div>
          <div
            class="text px-2 pt-3 text-white century-gothic-font rounded-bottom-4 overflow-hidden"
          >
            <div class="d-flex px-1 py-2">
              <div class="d-flex align-items-center">
                <i class="fa-regular fa-user me-2"></i>
                <h6 class="m-0">Mohamed Tharwat</h6>
              </div>
              <div class="d-flex align-items-center ms-3">
                <i class="fa-regular fa-comment me-2"></i>
                <h6 class="m-0">2 Comments</h6>
              </div>
            </div>
            <h4 class="fw-bold ms-1 pb-4 fs-5 livvic-font-family">
              Taking seamless key indicators
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 box mb-5 mb-md-0">
        <div class="rounded-top-4 overflow-hidden">
          <div class="position-relative">
            <div class="overlay position-absolute"></div>
            <img src="/images/news2.jpg" class="w-100" alt="news" />
            <span class="badgee text-black livvic-font-family position-absolute"
              >3 Jan, 2025</span
            >
          </div>
          <div
            class="text px-2 pt-3 text-white century-gothic-font rounded-bottom-4 overflow-hidden"
          >
            <div class="d-flex px-1 py-2">
              <div class="d-flex align-items-center">
                <i class="fa-regular fa-user me-2"></i>
                <h6 class="m-0">Ahmed Ali</h6>
              </div>
              <div class="d-flex align-items-center ms-3">
                <i class="fa-regular fa-comment me-2"></i>
                <h6 class="m-0">7 Comments</h6>
              </div>
            </div>
            <h4 class="fw-bold ms-1 pb-4 fs-5 livvic-font-family">
              Provide more additional services
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 box">
        <div class="rounded-top-4 overflow-hidden">
          <div class="position-relative">
            <div class="overlay position-absolute"></div>
            <img src="/images/news3.jpg" class="w-100" alt="news" />
            <span class="badgee text-black livvic-font-family position-absolute"
              >5 Mar, 2025</span
            >
          </div>
          <div
            class="text px-2 pt-3 text-white century-gothic-font rounded-bottom-4 overflow-hidden"
          >
            <div class="d-flex px-1 py-2">
              <div class="d-flex align-items-center">
                <i class="fa-regular fa-user me-2"></i>
                <h6 class="m-0">Hamed Moahmed</h6>
              </div>
              <div class="d-flex align-items-center ms-3">
                <i class="fa-regular fa-comment me-2"></i>
                <h6 class="m-0">10 Comments</h6>
              </div>
            </div>
            <h4 class="fw-bold ms-1 pb-4 fs-5 livvic-font-family">
              Agriculture Matters to Future of next
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
