section {
  background-color: var(--green-dark-color);
  background-image: url("/images/bg-news.png");
  background-size: cover;
}

.badgee {
  bottom: 0;
  right: 0;
  border-top-left-radius: 10px;
  padding: 3px 20px;
  background-color: var(--yellow-color);
  font-size: 15px;
  font-weight: 500;
}

i {
  color: var(--yellow-color);
}

h6 {
  font-weight: 400;
}

.text {
  background-color: var(--green-dark-dark-color);
}

.box {
  transition: 0.6s ease-out;
}

.box:hover {
  scale: 1.1;
}

.overlay {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
