<section id="services" class="">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-5 p-0 m-auto position-relative">
        <div class="overlay"></div>
        <img src="images/servicesImg.jpg" class="w-100" alt="Factory" />
      </div>
      <div
        class="col-lg-7 text-white ps-lg-5 pt-lg-5 pe-3 pe-lg-0 pb-5 mt-5 mt-lg-0"
      >
        <div class="mb-5 titles">
          <h6>MODERN AGRICULTURE</h6>
          <h3 class="fw-bold livvic-font-family">Providing High Quality</h3>
        </div>
        <div
          class="box d-sm-flex d-block century-gothic-font text-center text-sm-start justify-content-center justify-content-sm-start"
        >
          <img
            src="images/servicesIcon1.png"
            class="me-4 iconImg"
            alt="Service Icon"
          />
          <div class="text align-self-center w-75">
            <h5 class="fw-bold">Our Agriculture Growth</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur. Cursus purus at tempus
              arcu. Metus elit auctor
            </p>
          </div>
        </div>
        <hr />
        <div
          class="box d-sm-flex d-block century-gothic-font text-center text-sm-start justify-content-center justify-content-sm-start"
        >
          <img
            src="images/servicesIcon2.png"
            class="me-4 iconImg"
            alt="Service Icon"
          />
          <div class="text align-self-center w-75">
            <h5 class="fw-bold">Making Healthy Foods</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur. Cursus purus at tempus
              arcu. Metus elit auctor interdum scelerisque
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
