<section class="text-white py-7 century-gothic-font" id="testimonials">
  <div class="container">
    <div class="text-center century-gothic-font">
      <h6 class="text-uppercase">Our Testimonials</h6>
      <h2 class="text-uppercase fw-bold livvic-font-family">
        WHAT THEY’RE TAKING ABOUT
      </h2>
    </div>
  </div>

  <div class="carousel-section">
    <div class="blue-overlay"></div>
    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      loop="true"
      data-bs-ride="carousel"
      data-bs-interval="1500"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 0"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 2"
        ></button>
      </div>
      <div class="carousel-inner">
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div
            class="container mt-5 d-flex flex-column flex-sm-row justify-content-center align-items-center position-relative px-4"
          >
            <div class="col-sm-3 col-12 mb-4 mb-sm-0 me-sm-5 me-0">
              <img
                src="images/personalPhoto.jpg"
                class="w-100 rounded-circle px-5 px-sm-0"
                alt="Personal Photo"
              />
            </div>
            <div class="col-sm-8 col-12 text-center text-sm-start">
              <p class="lead mb-4">
                “Agri Lens has completely transformed the way we manage our
                crops. With AI-powered disease detection and smart irrigation,
                we've seen a 30% increase in yield while using less water and
                fertilizers!”
              </p>
              <h5 class="fw-light mb-1">Mohamed Tharwat</h5>
              <p class="lead">Customer</p>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
          <div
            class="container mt-5 d-flex flex-column flex-sm-row justify-content-center align-items-center position-relative px-4"
          >
            <div class="col-sm-3 col-12 mb-4 mb-sm-0 me-sm-5 me-0">
              <img
                src="images/personalPhoto.jpg"
                class="w-100 rounded-circle px-5 px-sm-0"
                alt="Personal Photo"
              />
            </div>
            <div class="col-sm-8 col-12 text-center text-sm-start">
              <p class="lead mb-4">
                “This smart farming system has significantly improved my yield.
                Highly recommended!”
              </p>
              <h5 class="fw-light mb-1">Ahmed Ali</h5>
              <p class="lead">Agriculture Expert</p>
            </div>
          </div>
        </div>
        <!-- Slide 3 -->
        <div class="carousel-item">
          <div
            class="container mt-5 d-flex flex-column flex-sm-row justify-content-center align-items-center position-relative px-4"
          >
            <div class="col-sm-3 col-12 mb-4 mb-sm-0 me-sm-5 me-0">
              <img
                src="images/personalPhoto.jpg"
                class="w-100 rounded-circle px-5 px-sm-0"
                alt="Personal Photo"
              />
            </div>
            <div class="col-sm-8 col-12 text-center text-sm-start">
              <p class="lead mb-4">
                “The AI-driven insights helped me optimize soil nutrition
                effectively.”
              </p>
              <h5 class="fw-light mb-1">Hamed Moahmed</h5>
              <p class="lead">Farmer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
