<header id="home">
  <div class="overlay"></div>
  <div class="up-btn text-white" id="upBtn">
    <a href="#home"><i class="fa-solid fa-arrow-up rounded-circle"></i></a>
  </div>
  <div class="text-white w-50 box">
    <h6 class="animate__animated animate__fadeInUp">Original & Natural</h6>
    <div class="d-flex animate__animated animate__fadeInUp">
      <h2
        class="h2-title livvic-font-family animate__animated animate__fadeInUp"
      >
        Agri Lens
      </h2>
      <img src="images/homeLogoIcon.png" alt="" />
    </div>
    <h2 class="livvic-font-family animate__animated animate__fadeInUp">
      Good production
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac egestas
      sapien. Nam id tortor orci. Nullam at pulvinar nulla
    </p>
    <button
      class="text-uppercase border-0 livvic-font-family animate__animated animate__fadeInUp"
    >
      Discover More
    </button>
  </div>
</header>
<app-about></app-about>
<app-our-products></app-our-products>
<app-projects></app-projects>
<app-testimonials></app-testimonials>
<app-services></app-services>
<app-news></app-news>
<app-contact-us></app-contact-us>
